.table-rdf {
  border-collapse: collapse;
}

.table-rdf th,
.table-rdf td {
  border: 1px solid #aaa;
  padding: 2px 10px;
}

a.term {
  color: #55b;
  text-decoration: none;
}

a.term:hover {
  text-decoration: underline;
}

.form-query textarea {
    width: 80%;
    height: 200px;
    font-family: Menlo, fixed;
    font-size: 20px;
}

.form-query button {
    font-size: 30px;
    padding: 10px;
}
