{% macro rdfterm(term) %}
  {%- if term|is_node -%}
    <a href="{{ url_for('.objinfo', s=term) }}" class="term">{{ term }}</a>
  {%- else -%}
    <span title="type: {{ term.datatype }}">{{ term }}</span>
  {%- endif -%}
{% endmacro %}


{% macro results_tabe(rows) %}
  <table class="table-rdf">

    <thead>
      {% for var in rows.variables %}
        <th>{{ var }}</th>
      {% endfor %}
    </thead>

    <tbody>
    {% for row in rows %}
      <tr>
        {% for t in row %}
          <td>{{ rdfterm(t) }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>

  </table>
{% endmacro %}
