{% extends 'layout.html' %}


{% block head %}
  <style>
    table {
      border-collapse: collapse;
    }
    table th,
    table td {
      border: 1px solid #aaa;
      padding: 2px 10px;
    }
  </style>
{% endblock %}


{% macro rdfterm(term) %}
  {%- if term|is_iri -%}
    <a href="{{ url_for('.objinfo', s=term) }}">{{ term }}</a>
  {%- else -%}
    {{ term }}
  {%- endif -%}
{% endmacro %}


{% block content %}

  <a href="{{ url_for('.home') }}">&laquo; home</a>

  <h3>{{ subject }}</h3>

  <table>

    <thead>
      <th>predicate</th>
      <th>object</th>
    </thead>

    <tbody>
    {% for p, o in rows %}
      <tr>
        <td>{{ p }}</td>
        <td>{{ rdfterm(o) }}</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>

{% endblock %}
