{% extends 'layout.html' %}


{% block head %}
  <style>
    .form-search {
      margin: 10px;
    }
    .form-search .label-field {
      display: inline-block;
      width: 60px;
    }
    .form-search .input-field {
      width: 500px;
    }
  </style>
{% endblock %}


{% block content %}

  <a href="{{ url_for('.home') }}">&laquo; home</a>

  <h3>Search triples</h3>

  <form class="form-search">

    <div>
      <label class="label-field" for="input-s">subject</label>
      <input class="input-field" id="input-s" name="s"
             value="{{ s or '' }}" placeholder="uri">
      <label><input type="checkbox" name="s_regex"
              {%- if s_regex %} checked{% endif %}>regex</label>
    </div>

    <div>
      <label class="label-field" for="input-p">predicate</label>
      <input class="input-field" id="input-p" name="p"
             value="{{ p or '' }}" placeholder="uri">
      <label><input type="checkbox" name="p_regex"
              {%- if p_regex %} checked{% endif %}>regex</label>
    </div>

    <div>
      <label class="label-field" for="input-o">object</label>
      <input class="input-field" id="input-o" name="o"
             value="{{ o or '' }}" placeholder="uri">
      <label><input type="checkbox" name="o_regex"
              {%- if o_regex %} checked{% endif %}>regex</label>
    </div>

    <button type="submit" class="btn">search</button>

  </form>

  {% if error %}
    <p class="sparql-error">{{ error }}</p>
  {% elif rows %}
    {%- from 'bits.html' import results_tabe %}
    {{ results_tabe(rows) }}
  {% endif %}

{% endblock %}
